registry=https://registry.npmjs.org/
//registry.npmjs.org/:username=${NPM_USERNAME}
//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}
//registry.npmjs.org/:email=${NPM_EMAIL}
//registry.npmjs.org/:always-auth=true
@ryanwilke:registry=https://registry.npmjs.org/
always-auth = true
