$feather-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$feather-defaults: (

  animation-name: (
    prefix: 'animate',
    responsive: false,
    values: (inherit)
  ),

  animation-delay: (
    prefix: 'delay',
    responsive: false,
    values: (300ms, 600ms, 900ms)
  ),

  animation-duration: (
    prefix: 'animate',
    responsive: false,
    values: (300ms, 600ms, 900ms)
  ),

  animation-direction: (
    prefix: 'animate',
    responsive: false,
    values: (reverse, alternate, alternate-reverse)
  ),

  animation-timing-function: (
    prefix: 'animate',
    responsive: false,
    values: (linear, ease, ease-in, ease-out)
  ),

  animation-fill-mode: (
    prefix: 'animate-fill',
    responsive: false,
    values: (none, forwards, backwards)
  ),

  animation-iteration-count: (
    prefix: 'animate',
    responsive: false,
    values: (infinite)
  ),

  background: (
    prefix: 'bg',
    responsive: false,
    values: (none)
  ),

  background-color: (
    prefix: 'bg',
    responsive: false,
    values: ('color': currentColor)
  ),

  background-image: (
    prefix: 'bg',
    responsive: true,
    values: (none)
  ),

  border-color: (
    prefix: 'border',
    responsive: false,
    values: ('color': currentColor)
  ),

  border-style: (
    prefix: 'border',
    responsive: true,
    states: ('last-child'),
    variants: (
      t: top,
      b: bottom,
      l: left,
      r: right,
      a: (top, bottom, left, right),
      x: (left, right),
      y: (top, bottom)
    ),
    values: (solid, none)
  ),

  border-width: (
    prefix: 'border',
    responsive: false,
    values: (
      'none': 0,
      'thin': 1px,
      'thick': 2px,
    )
  ),

  box-shadow: (
    prefix: 'box-shadow',
    responsive: true,
    states: (hover),
    values: (
      '': 0 1px 2px rgba(#000, .08),
      'left': -1px 0 3px rgba(#000, .2),
      'right': 1px 0 3px rgba(#000, .2),
      'hover': 0 0 4px 1px rgba(#000, .5),
      'active': 0 0 4px 1px rgba(#000, .5),
      'none': none
    )
  ),

  color: (
    prefix: null,
    responsive: true,
    states: (hover, group-hover),
    values: (
      'black': '#000'
    )
  ),

  fill: (
    prefix: 'fill',
    responsive: false,
    values: ('': currentColor)
  ),

  filter: (
    prefix: 'filter',
    responsive: false,
    values: (
      'none': none,
      'inherit': inherit,
      'drop-shadow': drop-shadow(0 1px 0 rgba(#000, .1)),
      'drop-shadow-sm': drop-shadow(0 1px 1px rgba(#000, .1))
    )
  ),

  grid-column-gap: (
    prefix: 'column-gap',
    responsive: true,
    values: (0px, 8px, 12px, 16px, 24px, 32px)
  ),

  grid-row-gap: (
    prefix: 'row-gap',
    responsive: true,
    values: (0px, 8px, 12px, 16px, 24px, 32px)
  ),

  grid-template-rows: (
    prefix: 'grid-rows',
    responsive: true,
    values: (initial)
  ),

  grid-template-columns: (
    prefix: 'columns',
    responsive: true,
    values: (
      'auto-1fr': auto 1fr,
      '1fr-auto': 1fr auto,
      '1fr': 1fr,
      '1fr-x2': 1fr 1fr,
      '1fr-x3': 1fr 1fr 1fr,
      '1fr-x4': 1fr 1fr 1fr 1fr,
      'auto': auto,
      'auto-x2': auto auto,
      'auto-x3': auto auto auto,
      'auto-x4': auto auto auto auto
    )
  ),

  line-height: (
    prefix: 'leading',
    responsive: true,
    values: (
      'none': 1,
      'tight': 1.2,
      'normal': 1.4,
      'loose': 1.6,
      '16': 16px,
      '20': 20px,
      '24': 24px,
      '28': 28px,
      '32': 32px,
      '36': 36px,
      '40': 40px,
      '44': 44px,
      '48': 48px,
      '56': 56px,
      '64': 64px
    )
  ),

  height: (
    prefix: 'h',
    responsive: true,
    values: ()
  ),

  width: (
    prefix: 'w',
    responsive: true,
    values: ()
  ),

  cursor: (
    prefix: 'cursor',
    responsive: true,
    values: (auto, pointer, default, ew-resize)
  ),

  center: (
    prefix: 'center',
    responsive: true,
    values: ()
  ),

  margin: (
    prefix: 'm',
    responsive: true,
    variants: (t: top, b: bottom, l: left, r: right),
    values: (2px, 4px, 8px, 16px, 24px, 32px, 40px)
  ),

  padding: (
    prefix: 'p',
    responsive: true,
    variants: (t: top, b: bottom, l: left, r: right),
    values: (2px, 4px, 8px, 16px, 24px, 32px, 40px)
  ),

  max-height: (
    prefix: 'max-h',
    responsive: false,
    values: (none)
  ),

  max-width: (
    prefix: 'max-w',
    responsive: true,
    values: (none, 320px, 400px, 600px, 1440px)
  ),

  min-height: (
    prefix: 'min-h',
    responsive: true,
    values: (none, 100%)
  ),

  min-width: (
    prefix: 'min-w',
    responsive: true,
    values: (none, 100%)
  ),

  display: (
    prefix: null,
    responsive: true,
    values: (
      'grid': grid,
      'inline-grid': inline-grid,
      'flex': flex,
      'block': block,
      'table': table,
      'inline': inline,
      'inline-block': inline-block,
      'hidden': none
    )
  ),

  font-family: (
    prefix: 'font',
    responsive: false,
    values: (
      'default': (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif),
      'monospace': monospace
    )
  ),

  font-size: (
    prefix: 'text',
    responsive: true,
    values: (
      xxs: 12px,
      xs: 13px,
      sm: 14px,
      md: 16px,
      lg: 18px,
      xl: 20px,
      xxl: 22px,
      xxxl: 24px
    )
  ),

  font-style: (
    prefix: null,
    responsive: false,
    values: (italic)
  ),

  font-weight: (
    prefix: null,
    responsive: true,
    values: (
      lighter: 200,
      light: 300,
      normal: 400,
      medium: 500,
      semibold: 600,
      bold: 700,
      bolder: 800
    )
  ),

  white-space: (
    prefix: 'white-space',
    responsive: true,
    values: (normal, pre, pre-wrap, nowrap)
  ),

  text-align: (
    prefix: 'align',
    responsive: true,
    values: (center, left, right)
  ),

  text-decoration: (
    prefix: null,
    responsive: false,
    states: (hover),
    values: (
      'line-through': line-through,
      'underline': underline,
      'no-underline': none
    )
  ),

  text-shadow: (
    prefix: 'text-shadow',
    responsive: false,
    values: (
      '': 0 1px 0 rgba(#000, .1),
      'sm': 0 1px 1px rgba(#000, .1)
    )
  ),

  text-transform: (
    prefix: null,
    responsive: false,
    values: (uppercase, lowercase, capitalize)
  ),

  float: (
    prefix: 'float',
    responsive: true,
    values: (none, left, right)
  ),

  overflow: (
    prefix: 'overflow',
    responsive: true,
    values: (auto, hidden, visible),
    variants: (x: 'x', y: 'y')
  ),

  border-radius: (
    prefix: 'rounded',
    responsive: true,
    values: (
      '0': 0,
      '1': 1px,
      '2': 2px,
      '3': 3px,
      '4': 4px,
      '5': 5px,
      'pill': 1000px
    ),
    properties: (
      'top': (
        border-bottom-left-radius: 0,
        border-bottom-right-radius: 0
      ),
      'bottom': (
        border-top-left-radius: 0,
        border-top-right-radius: 0
      ),
      'left': (
        border-top-right-radius: 0,
        border-bottom-right-radius: 0
      ),
      'right': (
        border-top-left-radius: 0,
        border-bottom-left-radius: 0
      ),
      'top-left': (
        border-top-right-radius: 0,
        border-bottom-left-radius: 0,
        border-bottom-right-radius: 0
      ),
      'top-right': (
        border-top-left-radius: 0,
        border-bottom-left-radius: 0,
        border-bottom-right-radius: 0
      ),
      'bottom-left': (
        border-top-left-radius: 0,
        border-top-right-radius: 0,
        border-bottom-right-radius: 0
      ),
      'bottom-right': (
        border-top-left-radius: 0,
        border-top-right-radius: 0,
        border-bottom-left-radius: 0
      )
    )
  ),

  opacity: (
    prefix: 'o',
    responsive: false,
    states: (hover, group-hover),
    values: (
      '100': 1,
      '90': .9,
      '80': .8,
      '70': .7,
      '60': .6,
      '50': .5,
      '40': .4,
      '30': .3,
      '20': .2,
      '10': .1,
      '0': 0
    )
  ),

  outline: (
    prefix: 'outline',
    responsive: false,
    values: (none)
  ),

  pointer-events: (
    prefix: 'click',
    responsive: true,
    values: (none, auto)
  ),

  position: (
    prefix: null,
    responsive: true,
    values: (static, relative, absolute, fixed, sticky)
  ),

  top: (
    prefix: 'pin-t',
    responsive: true,
    values: ()
  ),

  left: (
    prefix: 'pin-l',
    responsive: true,
    values: ()
  ),

  right: (
    prefix: 'pin-r',
    responsive: true,
    values: ()
  ),

  bottom: (
    prefix: 'pin-b',
    responsive: true,
    values: ()
  ),

  text-overflow: (
    prefix: null,
    responsive: true,
    values: (ellipsis, clip)
  ),

  transition: (
    prefix: 'ease',
    responsive: false,
    values: (
      '0ms': none,
      '150ms': all 150ms ease,
      '300ms': all 300ms ease,
      '600ms': all 600ms ease
    )
  ),

  transform: (
    prefix: null,
    states: (hover),
    responsive: true,
    values: (
      'translate-0': translate(0),
      'translatex-0': translatex(0),
      'translatey-0': translatey(0),
      'translate-50\\%': translate(50%, 50%),
      'translatex-50\\%': translatex(50%),
      'translatey-50\\%': translatey(50%),
      'translatex-100\\%': translatex(100%),
      'translatey-100\\%': translatey(100%),
      'translate--50\\%': translate(-50%, -50%),
      'translatex--50\\%': translatex(-50%),
      'translatey--50\\%': translatey(-50%),
      'rotate-45': rotate(45deg),
      'rotate-90': rotate(90deg),
      'rotate-180': rotate(180deg) translate(50%, 50%)
    )
  ),

  user-select: (
    prefix: 'select',
    responsive: false,
    values: (none, all, auto, text)
  ),

  vertical-align: (
    prefix: 'v-align',
    responsive: false,
    values: (baseline, top, middle, bottom)
  ),

  justify-content: (
    prefix: 'justify',
    values: (
      'center': center,
      'start': start,
      'end': end,
      'flex-start': flex-start,
      'flex-end': flex-end,
      'left': left,
      'right': right,
      'space-between': space-between,
      'space-around': space-around,
      'space-evenly': space-evenly,
      'stretch': stretch,
      'inherit': inherit,
      'initial': initial,
      'unset': unset
    )
  ),

  align-items: (
    prefix: 'align-items',
    responsive: false,
    values: (left, right, center)
  ),

  flex-basis: (
    prefix: 'flex-basis',
    responsive: false,
    values: (0)
  ),

  flex-grow: (
    prefix: 'flex-grow',
    responsive: false,
    values: (1)
  ),

  flex-shrink: (
    prefix: 'flex',
    responsive: false,
    values: (1)
  ),

  flex-direction: (
    prefix: 'flex',
    responsive: true,
    values: (
      'row': row,
      'row-reverse': row-reverse,
      'col': column,
      'col-reverse': column-reverse
    )
  ),

  flex-wrap: (
    prefix: 'flex',
    responsive: false,
    values: (wrap, nowrap)
  ),

  stroke: (
    prefix: 'stroke',
    responsive: false,
    values: ('': currentColor)
  ),

  visibility: (
    prefix: null,
    responsive: false,
    values: (
      'invisible': hidden,
      'visible': visible
    )
  ),

  will-change: (
    prefix: 'will-change',
    responsive: false,
    values: (transform, opacity)
  ),

  z-index: (
    prefix: 'z',
    responsive: false,
    states: (hover),
    values: (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, auto)
  )
);

// Merge the default options and the custom options together.
$feather-utilities: () !default;
$feather-utilities: map-merge-options($feather-defaults, $feather-utilities);
