@function utility-values($name, $value: null)
  $utility: map-get($feather-utilities, $name)
  $utility-values: map-get($utility, values)
  @return if($value, map-get($utility-values, $value), $utility-values)

@function utility-class($prefix, $class)
  @if $prefix
    $class: if($class == '', $prefix, "#{$prefix}-#{$class}")
  @return $class

@mixin utility($name, $responsive: false)
  $utility: map-get($feather-utilities, $name)

  @if $utility != false
    $prefix: map-get($utility, prefix)
    $utility-values: map-get($utility, values)
    $utility-states: map-get($utility, states)
    $utility-variants: map-get($utility, variants)
    $utility-is-responsive: map-get($utility, responsive)

    // Print out styles for all screens
    @each $class, $value in $utility-values
      $value: if($value, $value, $class)
      .#{utility-class($prefix, $class)}
        #{$name}: $value

      // Print out the utility states for all screens (e.g. hover, focus, last-child, group-hover, etc)
      @if $utility-states
        @each $state in $utility-states
          @if $state == group-hover
            .group:hover .#{$state + '\\:' + utility-class($prefix, $class)}
              @extend .#{utility-class($prefix, $class)}
          @else
            .#{$state + '\\:' + utility-class($prefix, $class) + ':' + $state}
              @extend .#{utility-class($prefix, $class)}

    // Print out variants like: left, right, top, bottom
    @if $utility-variants
      @each $class, $value in $utility-values
        $value: if($value, $value, $class)
        @each $v-class, $v-props in $utility-variants
          @if $name == border-style
            .#{utility-class($prefix + '-' + $v-class, $class)}
              @each $variant in $v-props
                border-#{$variant}-style: $value
          @else
            .#{utility-class($prefix + $v-class, $class)}
              @each $variant in $v-props
                #{$name}-#{$variant}: $value

    // Print out other utility content
    @if $prefix
      .#{$prefix}
        @content

    // Print out styles for all breakpoints
    @if $utility-is-responsive
      @each $breakpoint, $min-width in $feather-breakpoints
        @media screen and (min-width:#{$min-width})
          @each $class, $value in $utility-values
            $value: if($value, $value, $class)
            .#{$breakpoint + '\\:' + utility-class($prefix, $class)}
              #{$name}: $value

            // Print out the utility states for all breakpoints (e.g. hover, focus, last-child, group-hover, etc)
            @if $utility-states
              @each $state in $utility-states
                @if $state == group-hover
                  .group:hover .#{$breakpoint + '\\:' + $state + '\\:' + utility-class($prefix, $class)}
                    @extend .#{$breakpoint + '\\:' + utility-class($prefix, $class)}
                @else
                  .#{$breakpoint + '\\:' + $state + '\\:' + utility-class($prefix, $class) + ':' + $state}
                    @extend .#{$breakpoint + '\\:' + utility-class($prefix, $class)}

          // Print out variants like: left, right, top, bottom
          @if $utility-variants
            @each $class, $value in $utility-values
              $value: if($value, $value, $class)
              @each $v-class, $v-props in $utility-variants
                @if $name == border-style
                  .#{$breakpoint + '\\:' + utility-class($prefix + '-' + $v-class, $class)}
                    @each $variant in $v-props
                      border-#{$variant}-style: $value
                @else
                  .#{$breakpoint + '\\:' + utility-class($prefix + $v-class, $class)}
                    @each $variant in $v-props
                      #{$name}-#{$variant}: $value

          // Print out other utility content
          @if $prefix
            .#{$breakpoint + '\\:' + $prefix}
              @content
