$feather-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$feather-position-values: (0, 2px, 4px, 8px, 16px, 24px, 32px, 40px, 48px, 56px, 64px, 72px, 80px, 120px, 160px, 200px, 240px, 280px, 320px) !default;

$feather-colors: (
  'transparent': transparent,

  // Black
  'black': #000,
  'black-900': rgba(#000,.9),
  'black-800': rgba(#000,.8),
  'black-700': rgba(#000,.7),
  'black-600': rgba(#000,.6),
  'black-500': rgba(#000,.5),
  'black-400': rgba(#000,.4),
  'black-300': rgba(#000,.3),
  'black-200': rgba(#000,.2),
  'black-100': rgba(#000,.1),

  // White
  'white': #fff,
  'white-900': rgba(#fff,.9),
  'white-800': rgba(#fff,.8),
  'white-700': rgba(#fff,.7),
  'white-600': rgba(#fff,.6),
  'white-500': rgba(#fff,.5),
  'white-400': rgba(#fff,.4),
  'white-300': rgba(#fff,.3),
  'white-200': rgba(#fff,.2),
  'white-100': rgba(#fff,.1),

  // Gray
  'gray-100': #f7fafc,
  'gray-200': #edf2f7,
  'gray-300': #e2e8f0,
  'gray-400': #cbd5e0,
  'gray-500': #a0aec0,
  'gray-600': #718096,
  'gray-700': #4a5568,
  'gray-800': #2d3748,
  'gray-900': #1a202c,

  // Red
  'red-100': #fff5f5,
  'red-200': #fed7d7,
  'red-300': #feb2b2,
  'red-400': #fc8181,
  'red-500': #f56565,
  'red-600': #e53e3e,
  'red-700': #c53030,
  'red-800': #9b2c2c,
  'red-900': #742a2a,

  // Orange
  'orange-100': #fffaf0,
  'orange-200': #feebc8,
  'orange-300': #fbd38d,
  'orange-400': #f6ad55,
  'orange-500': #ed8936,
  'orange-600': #dd6b20,
  'orange-700': #c05621,
  'orange-800': #9c4221,
  'orange-900': #7b341e,

  // Yellow
  'yellow-100': #fffff0,
  'yellow-200': #fefcbf,
  'yellow-300': #faf089,
  'yellow-400': #f6e05e,
  'yellow-500': #ecc94b,
  'yellow-600': #d69e2e,
  'yellow-700': #b7791f,
  'yellow-800': #975a16,
  'yellow-900': #744210,

  // Green
  'green-100': #f0fff4,
  'green-200': #c6f6d5,
  'green-300': #9ae6b4,
  'green-400': #68d391,
  'green-500': #48bb78,
  'green-600': #38a169,
  'green-700': #2f855a,
  'green-800': #276749,
  'green-900': #22543d,

  // Teal
  'teal-100': #e6fffa,
  'teal-200': #b2f5ea,
  'teal-300': #81e6d9,
  'teal-400': #4fd1c5,
  'teal-500': #38b2ac,
  'teal-600': #319795,
  'teal-700': #2c7a7b,
  'teal-800': #285e61,
  'teal-900': #234e52,

  // Blue
  'blue-100': #ebf8ff,
  'blue-200': #bee3f8,
  'blue-300': #90cdf4,
  'blue-400': #63b3ed,
  'blue-500': #4299e1,
  'blue-600': #3182ce,
  'blue-700': #2b6cb0,
  'blue-800': #2c5282,
  'blue-900': #2a4365,

  // Indigo
  'indigo-100': #ebf4ff,
  'indigo-200': #c3dafe,
  'indigo-300': #a3bffa,
  'indigo-400': #7f9cf5,
  'indigo-500': #667eea,
  'indigo-600': #5a67d8,
  'indigo-700': #4c51bf,
  'indigo-800': #434190,
  'indigo-900': #3c366b,

  // Purple
  'purple-100': #faf5ff,
  'purple-200': #e9d8fd,
  'purple-300': #d6bcfa,
  'purple-400': #b794f4,
  'purple-500': #9f7aea,
  'purple-600': #805ad5,
  'purple-700': #6b46c1,
  'purple-800': #553c9a,
  'purple-900': #44337a,

  // Pink
  'pink-100': #fff5f7,
  'pink-200': #fed7e2,
  'pink-300': #fbb6ce,
  'pink-400': #f687b3,
  'pink-500': #ed64a6,
  'pink-600': #d53f8c,
  'pink-700': #b83280,
  'pink-800': #97266d,
  'pink-900': #702459
) !default;

$feather-defaults: (
  animation-name: (
    prefix: 'animate',
    responsive: false,
    values: (inherit)
  ),

  animation-delay: (
    prefix: 'delay',
    responsive: false,
    values: (300ms, 600ms, 900ms)
  ),

  animation-duration: (
    prefix: 'animate',
    responsive: false,
    values: (300ms, 600ms, 900ms)
  ),

  animation-direction: (
    prefix: 'animate',
    responsive: false,
    values: (reverse, alternate, alternate-reverse)
  ),

  animation-timing-function: (
    prefix: 'animate',
    responsive: false,
    values: (linear, ease, ease-in, ease-out)
  ),

  animation-fill-mode: (
    prefix: 'animate-fill',
    responsive: false,
    values: (none, forwards, backwards)
  ),

  animation-iteration-count: (
    prefix: 'animate',
    responsive: false,
    values: (infinite)
  ),

  backdrop-filter: (
    prefix: 'bg',
    responsive: false,
    values: (
      'blur-5': blur(5px),
      'blur-10': blur(10px),
    )
  ),

  background: (
    prefix: 'bg',
    responsive: false,
    values: (none)
  ),

  background-color: (
    prefix: 'bg',
    responsive: false,
    values: ('color': currentColor)
  ),

  background-image: (
    prefix: 'bg',
    responsive: true,
    values: (none)
  ),

  border-color: (
    prefix: 'border',
    responsive: false,
    values: ('color': currentColor)
  ),

  border-style: (
    prefix: 'border',
    responsive: true,
    states: ('last-child'),
    variants: (
      t: top,
      b: bottom,
      l: left,
      r: right,
      a: (top, bottom, left, right),
      x: (left, right),
      y: (top, bottom)
    ),
    values: (solid, none)
  ),

  border-width: (
    prefix: 'border',
    responsive: false,
    values: (
      'none': 0,
      'thin': 1px,
      'thick': 2px,
    )
  ),

  box-shadow: (
    prefix: 'box-shadow',
    responsive: true,
    states: (hover),
    values: (
      '': 0 1px 2px rgba(#000, .08),
      'left': -1px 0 3px rgba(#000, .2),
      'right': 1px 0 3px rgba(#000, .2),
      'hover': 0 0 4px 1px rgba(#000, .5),
      'active': 0 0 4px 1px rgba(#000, .5),
      'none': none
    )
  ),

  color: (
    prefix: null,
    responsive: true,
    states: (hover, group-hover),
    values: $feather-colors
  ),

  fill: (
    prefix: 'fill',
    responsive: false,
    values: ('': currentColor)
  ),

  filter: (
    prefix: 'filter',
    responsive: false,
    values: (
      'none': none,
      'inherit': inherit,
      'drop-shadow': drop-shadow(0 1px 0 rgba(#000, .1)),
      'drop-shadow-sm': drop-shadow(0 1px 1px rgba(#000, .1))
    )
  ),

  grid-column-gap: (
    prefix: 'column-gap',
    responsive: true,
    values: (0px, 8px, 12px, 16px, 24px, 32px, 40px, 48px, 56px, 64px)
  ),

  grid-row-gap: (
    prefix: 'row-gap',
    responsive: true,
    values: (0px, 8px, 12px, 16px, 24px, 32px, 40px, 48px, 56px, 64px)
  ),

  grid-template-rows: (
    prefix: 'grid-rows',
    responsive: true,
    values: (
      'auto-1fr': auto 1fr,
      '1fr-auto': 1fr auto,
      '1fr-1fr-auto': 1fr 1fr auto
    )
  ),

  grid-template-columns: (
    prefix: 'columns',
    responsive: true,
    values: (
      'auto-1fr': auto 1fr,
      '1fr-auto': 1fr auto,
      '1fr': 1fr,
      '1fr-x2': 1fr 1fr,
      '1fr-x3': 1fr 1fr 1fr,
      '1fr-x4': 1fr 1fr 1fr 1fr,
      'auto': auto,
      'auto-x2': auto auto,
      'auto-x3': auto auto auto,
      'auto-x4': auto auto auto auto
    )
  ),

  grid-row-start: (
    prefix: 'row-start',
    responsive: false,
    values: (1, 2, 3, 4)
  ),

  grid-row-end: (
    prefix: 'row-end',
    responsive: false,
    values: (1, 2, 3, 4)
  ),

  line-height: (
    prefix: 'leading',
    responsive: true,
    values: (
      'none': 1,
      'tight': 1.2,
      'normal': 1.4,
      'loose': 1.6,
      '16': 16px,
      '20': 20px,
      '24': 24px,
      '28': 28px,
      '32': 32px,
      '36': 36px,
      '40': 40px,
      '44': 44px,
      '48': 48px,
      '56': 56px,
      '64': 64px,
      '72': 72px
    )
  ),

  list-style: (
    prefix: 'list-style',
    responsive: false,
    values: (none, square, circle, disc)
  ),

  height: (
    prefix: 'h',
    responsive: true,
    values: (0, 2px, 4px, 8px, 16px, 24px, 32px, 40px, 48px, 56px, 64px, 72px, 80px, 88px, 96px)
  ),

  width: (
    prefix: 'w',
    responsive: true,
    values: (0, 2px, 4px, 8px, 16px, 24px, 32px, 40px, 48px, 56px, 64px, 72px, 80px, 88px, 96px, 120px, 160px, 200px, 240px, 280px, 320px)
  ),

  cursor: (
    prefix: 'cursor',
    responsive: true,
    values: (auto, pointer, default, ew-resize)
  ),

  margin: (
    prefix: 'm',
    responsive: true,
    variants: (t: top, b: bottom, l: left, r: right),
    values: (auto, 0, 2px, 4px, 8px, 16px, 24px, 32px, 40px, 48px, 56px, 64px, 72px)
  ),

  padding: (
    prefix: 'p',
    responsive: true,
    variants: (t: top, b: bottom, l: left, r: right),
    values: (0, 2px, 4px, 8px, 12px, 16px, 24px, 32px, 40px, 48px, 56px, 64px, 72px)
  ),

  max-height: (
    prefix: 'max-h',
    responsive: true,
    values: (0, 100%)
  ),

  max-width: (
    prefix: 'max-w',
    responsive: true,
    values: (0, 100%, 600px, 680px, 800px, 920px, 960px)
  ),

  min-height: (
    prefix: 'min-h',
    responsive: true,
    values: (0, 100%)
  ),

  min-width: (
    prefix: 'min-w',
    responsive: true,
    values: (0, 100%)
  ),

  display: (
    prefix: null,
    responsive: true,
    values: (
      'grid': grid,
      'inline-grid': inline-grid,
      'flex': flex,
      'block': block,
      'table': table,
      'inline': inline,
      'inline-block': inline-block,
      'webkit-box': -webkit-box,
      'hidden': none
    )
  ),

  font-family: (
    prefix: 'font',
    responsive: false,
    values: (
      'default': (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif),
      'monospace': monospace
    )
  ),

  font-size: (
    prefix: 'text',
    responsive: true,
    values: (10px, 12px, 14px, 16px, 18px, 20px, 22px, 24px, 26px, 28px, 30px, 32px, 34px, 36px, 38px, 40px)
  ),

  font-style: (
    prefix: null,
    responsive: false,
    values: (italic)
  ),

  font-weight: (
    prefix: null,
    responsive: true,
    values: (
      lighter: 200,
      light: 300,
      normal: 400,
      medium: 500,
      semibold: 600,
      bold: 700,
      bolder: 800
    )
  ),

  white-space: (
    prefix: 'white-space',
    responsive: true,
    values: (normal, pre, pre-wrap, nowrap)
  ),

  text-align: (
    prefix: 'align',
    responsive: true,
    values: (center, left, right)
  ),

  text-decoration: (
    prefix: null,
    responsive: false,
    states: (hover),
    values: (
      'line-through': line-through,
      'underline': underline,
      'no-underline': none
    )
  ),

  text-shadow: (
    prefix: 'text-shadow',
    responsive: false,
    values: (
      '': 0 1px 0 rgba(#000, .1),
      'sm': 0 1px 1px rgba(#000, .1)
    )
  ),

  text-transform: (
    prefix: null,
    responsive: false,
    values: (uppercase, lowercase, capitalize)
  ),

  float: (
    prefix: 'float',
    responsive: true,
    values: (none, left, right)
  ),

  overflow: (
    prefix: 'overflow',
    responsive: true,
    values: (auto, hidden, visible),
    variants: (x: 'x', y: 'y')
  ),

  border-radius: (
    prefix: 'rounded',
    responsive: true,
    values: (
      '0': 0,
      '1': 1px,
      '2': 2px,
      '3': 3px,
      '4': 4px,
      '5': 5px,
      'pill': 1000px
    ),
    properties: (
      'top': (
        border-bottom-left-radius: 0,
        border-bottom-right-radius: 0
      ),
      'bottom': (
        border-top-left-radius: 0,
        border-top-right-radius: 0
      ),
      'left': (
        border-top-right-radius: 0,
        border-bottom-right-radius: 0
      ),
      'right': (
        border-top-left-radius: 0,
        border-bottom-left-radius: 0
      ),
      'top-left': (
        border-top-right-radius: 0,
        border-bottom-left-radius: 0,
        border-bottom-right-radius: 0
      ),
      'top-right': (
        border-top-left-radius: 0,
        border-bottom-left-radius: 0,
        border-bottom-right-radius: 0
      ),
      'bottom-left': (
        border-top-left-radius: 0,
        border-top-right-radius: 0,
        border-bottom-right-radius: 0
      ),
      'bottom-right': (
        border-top-left-radius: 0,
        border-top-right-radius: 0,
        border-bottom-left-radius: 0
      )
    )
  ),

  opacity: (
    prefix: 'o',
    responsive: false,
    states: (hover, group-hover),
    values: (
      '100': 1,
      '90': .9,
      '80': .8,
      '70': .7,
      '60': .6,
      '50': .5,
      '40': .4,
      '30': .3,
      '20': .2,
      '10': .1,
      '0': 0
    )
  ),

  outline: (
    prefix: 'outline',
    responsive: false,
    values: (none)
  ),

  pointer-events: (
    prefix: 'click',
    responsive: true,
    values: (none, auto)
  ),

  position: (
    prefix: null,
    responsive: true,
    values: (static, relative, absolute, fixed, sticky)
  ),

  top: (
    prefix: 'pin-t',
    responsive: true,
    values: $feather-position-values
  ),

  left: (
    prefix: 'pin-l',
    responsive: true,
    values: $feather-position-values
  ),

  right: (
    prefix: 'pin-r',
    responsive: true,
    values: $feather-position-values
  ),

  bottom: (
    prefix: 'pin-b',
    responsive: true,
    values: $feather-position-values
  ),

  text-overflow: (
    prefix: null,
    responsive: true,
    values: (ellipsis, clip)
  ),

  transition: (
    prefix: 'ease',
    responsive: true,
    values: (
      '0ms': none,
      '150ms': all 150ms ease,
      '300ms': all 300ms ease,
      '600ms': all 600ms ease,
      'out-150ms': all 150ms ease-out,
      'out-300ms': all 300ms ease-out,
      'out-600ms': all 600ms ease-out
    )
  ),

  transform: (
    prefix: null,
    states: (hover),
    responsive: true,
    values: (
      'translate-0': translate(0),
      'translatex-0': translatex(0),
      'translatey-0': translatey(0),
      'translate-50\\%': translate(50%, 50%),
      'translatex-50\\%': translatex(50%),
      'translatey-50\\%': translatey(50%),
      'translatex-100\\%': translatex(100%),
      'translatey-100\\%': translatey(100%),
      'translate--50\\%': translate(-50%, -50%),
      'translate--100\\%': translate(-100%, -100%),
      'translatex--50\\%': translatex(-50%),
      'translatex--100\\%': translatex(-100%),
      'translatey--50\\%': translatey(-50%),
      'translatey--100\\%': translatey(-100%),
      'rotate-45': rotate(45deg),
      'rotate-90': rotate(90deg),
      'rotate-180': rotate(180deg) translate(50%, 50%)
    )
  ),

  user-select: (
    prefix: 'select',
    responsive: false,
    values: (none, all, auto, text)
  ),

  vertical-align: (
    prefix: 'v-align',
    responsive: false,
    values: (baseline, top, middle, bottom)
  ),

  justify-content: (
    prefix: 'justify',
    values: (
      'center': center,
      'start': start,
      'end': end,
      'flex-start': flex-start,
      'flex-end': flex-end,
      'left': left,
      'right': right,
      'space-between': space-between,
      'space-around': space-around,
      'space-evenly': space-evenly,
      'stretch': stretch,
      'inherit': inherit,
      'initial': initial,
      'unset': unset
    )
  ),

  align-items: (
    prefix: 'align-items',
    responsive: false,
    values: (left, right, center)
  ),

  flex-basis: (
    prefix: 'flex-basis',
    responsive: false,
    values: (0)
  ),

  flex-grow: (
    prefix: 'flex-grow',
    responsive: false,
    values: (1)
  ),

  flex-shrink: (
    prefix: 'flex',
    responsive: false,
    values: (1)
  ),

  flex-direction: (
    prefix: 'flex',
    responsive: true,
    values: (
      'row': row,
      'row-reverse': row-reverse,
      'col': column,
      'col-reverse': column-reverse
    )
  ),

  flex-wrap: (
    prefix: 'flex',
    responsive: false,
    values: (wrap, nowrap)
  ),

  stroke: (
    prefix: 'stroke',
    responsive: false,
    values: ('': currentColor)
  ),

  stroke-linecap: (
    prefix: 'linecap',
    responsive: false,
    values: (round)
  ),

  stroke-linejoin: (
    prefix: 'linejoin',
    responsive: false,
    values: (round)
  ),

  stroke-width: (
    prefix: 'stroke',
    responsive: false,
    values: (0, 1px, 2px)
  ),

  text-indent: (
    prefix: 'indent',
    responsive: false,
    values: (4px, 8px, 12px, 16px, 24px, 32px, 48px, 56px, 64px)
  ),

  visibility: (
    prefix: null,
    responsive: false,
    values: (
      'invisible': hidden,
      'visible': visible
    )
  ),

  '-webkit-line-clamp': (
    prefix: 'line-clamp',
    responsive: false,
    values: (1, 2, 3, 4)
  ),

  '-webkit-box-orient': (
    prefix: 'box-orient',
    responsive: false,
    values: (vertical, horizontal)
  ),

  will-change: (
    prefix: 'will-change',
    responsive: false,
    values: (transform, opacity)
  ),

  z-index: (
    prefix: 'z',
    responsive: false,
    states: (hover),
    values: (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, auto)
  ),
);

// Merge the default options and the custom options together.
$feather-utilities: () !default;
$feather-utilities: map-merge-options($feather-defaults, $feather-utilities);
